@model PremierLeague.DtoLayer.FixtureDtos.FixtureStatisticDto

<div class="week-summary">

    <div class="ws-card">
        <div class="ws-num" style="color:var(--blue)">@Model.TotalMatches</div>
        <div class="ws-lbl">Total Matches</div>
    </div>

    <div class="ws-card">
        <div class="ws-num" style="color:var(--gold)">3</div>
        <div class="ws-lbl">Top Clashes</div>
    </div>

    <div class="ws-card">
        <div class="ws-num" style="color:var(--green)">Fri–Sun</div>
        <div class="ws-lbl">Matchdays</div>
    </div>

    <div class="ws-card">
        <div class="ws-num" style="color:var(--live)">@Model.StartDay</div>
        <div class="ws-lbl">@Model.MonthYear</div>
    </div>

</div>