<footer class="ft">
    <div class="wrap">
        <div class="row g-4">
            <div class="col-lg-4">
                <div class="ft-brand">Goal<span>Zone</span></div>
                <p class="ft-desc">Your ultimate destination for live scores, match analysis, and statistics from premier football leagues.</p>
                <div class="si-row">
                    <a href="#" class="si"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" class="si"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="si"><i class="bi bi-youtube"></i></a>
                    <a href="#" class="si"><i class="bi bi-telegram"></i></a>
                </div>
            </div>
            <div class="col-6 col-lg-2">
                <div class="ft-h">Leagues</div>
                <ul class="ft-ul">
                    <li><a href="#">Premier League</a></li>
                    <li><a href="#">La Liga</a></li>
                    <li><a href="#">Bundesliga</a></li>
                    <li><a href="#">Serie A</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2">
                <div class="ft-h">Quick Links</div>
                <ul class="ft-ul">
                    <li><a href="index.html">Latest Scores</a></li>
                    <li><a href="fixtures.html">Fixtures</a></li>
                    <li><a href="standings.html">Standings</a></li>
                    <li><a href="#">Top Scorers</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2">
                <div class="ft-h">Teams</div>
                <ul class="ft-ul">
                    <li><a href="#">Arsenal</a></li>
                    <li><a href="#">Liverpool</a></li>
                    <li><a href="#">Man City</a></li>
                    <li><a href="#">Chelsea</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2">
                <div class="ft-h">Support</div>
                <ul class="ft-ul">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>
        </div>
        <div class="ft-bot">
            <span>© @DateTime.Now.Year MatchCore. All rights reserved.</span>
            <span>Premier League data is for demonstration purposes only.</span>
        </div>
    </div>
</footer>