<nav class="nb">
    <div class="nb-inner">
        <a href="index.html" class="brand">
            <div class="brand-ico">⚽</div>
            <span class="brand-txt">Match<span>Core</span></span>
        </a>
        <div class="nav-links d-none d-lg-flex">
            <a href="index.html" class="nl">Home</a>
            <a href="#" class="nl">Lıve Scores</a>
            <a href="/Fixture/Index/" class="nl">Fıxtures</a>
            <a href="/Standing/Index/" class="nl">Standıngs</a>
        </div>
        <div class="nb-icons">
            <a href="#" class="ico-btn d-none d-sm-flex"><i class="bi bi-search"></i></a>
            <a href="#" class="ico-btn d-none d-sm-flex"><i class="bi bi-bell"></i></a>
            <a href="#" class="ico-btn"><i class="bi bi-person"></i></a>
            <button class="tog d-lg-none" id="tog"><i class="bi bi-list"></i></button>
        </div>
    </div>

    <div class="mob-menu" id="mobMenu">
        <div class="wrap">
            <a href="index.html" class="nl d-block active">Home</a>
            <a href="#" class="nl d-block">Live Scores</a>
            <a href="fixtures.html" class="nl d-block">Fixtures</a>
            <a href="standings.html" class="nl d-block">Standings</a>
        </div>
    </div>
</nav>